@model IEnumerable<Teatru.Models.Bilet>

@{
    ViewData["Title"] = "Bilete";
}

<h1>Lista Bilete</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.spectacol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.spectacol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="Bilets" asp-action="Index2">
    <p>
        Nume Spectacol: <input type="text" name="SearchString" />
        <input type="submit" value="Cauta bilete" />
    </p>
    <p>
        <a asp-action="DownloadFile" asp-route-tip="csv">Download Bilete CSV</a>
    </p>
    <p>
        <a asp-action="DownloadFile" asp-route-tip="json">Download Bilete JSON</a>
    </p>
    <p>
        <a asp-action="DownloadFile" asp-route-tip="xml">Download Bilete XML</a>
    </p>
</form>

