@model Teatru.Models.Spectacol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spectacol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titlu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titlu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.regizor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.regizor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actori)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nrBilete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nrBilete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
